<configuration>

    <!-- Konfiguracja poziomu logowania dla całej aplikacji -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Definicja appendera konsolowego (wypisującego logi w konsoli) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Konfiguracja loggera Spring Security na poziomie DEBUG -->
    <logger name="org.springframework.security" level="DEBUG" />

    <!-- Konfiguracja logowania dla konkretnych komponentów Spring Security -->
    <logger name="org.springframework.security.authentication" level="DEBUG" />
    <logger name="org.springframework.security.authorization" level="DEBUG" />
    <logger name="org.springframework.security.access" level="DEBUG" />
    <logger name="org.springframework.security.web.authentication" level="DEBUG" />
    <logger name="org.springframework.security.web.access" level="DEBUG" />
    <logger name="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter" level="DEBUG" />

    <!-- Konfiguracja innych loggerów... -->

</configuration>